[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
requests = "*"
django-cleanup = "*"
django-next-prev = "*"
django-tailwind = "*"
gunicorn = "*"
whitenoise = "*"
opencv-python = "*"
numpy = "*"
imutils = "*"
rembg = "*"
opencv-python-headless = "*"

[dev-packages]

[requires]
python_version = "3.9"
